[Unit]
Description=call logger

[Service]
Type=simple
ExecStart=/usr/bin/dlogutil CALL_MGR CALL_MGR_CLIENT CALL_MGR_POPUP CALL_UI -r 2048 -n 3 -f /opt/usr/data/call/call_log -v threadtime
Nice=19

[Install]
WantedBy=multi-user.target
